@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);

  --white: hsl(0, 0%, 100%);
  --slightly-transparent-white-main: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white-heading:hsla(0, 0%, 100%, 0.6);
}

html, body {
  height: 100%;
}

body {
  background-color: var(--very-dark-blue);
  color: var(--white);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
  color: var(--slightly-transparent-white-main);
}

p {
  font-family: 'Lexand Deca', sans-serif;
  font-size: 15px;
  color: var(--slightly-transparent-white-heading);
  line-height: 1.5em;
}

.stats-preview-wrapper {
  margin: 0 auto;
  background-color: var(--dark-desaturated-blue);
}

.stats-body span {
  color: var(--soft-violet);
}

.stats-body > h2 {
  margin-bottom: 1em;
}

.stats-body > p {
  margin-bottom: 2.5em;
}


@media screen and (min-width: 300px) {
  h1, h2, h3, h4, h5, h6, p {
    text-align: center;
  }

  .stats-preview-wrapper {
    width: 335px;
  }

  .stats-img-container {
    width: 100%;
    height: 245px;
  }

  .stats-img-container,
  .stats-body {
    width: 100%;
    height: 100%;
  }

  .stats-body {
    padding: 3em 2em;
  }

  .stats-img-container {
    height: 303px;
  }

  .stats-img-container {
    background: url('./images/image-header-mobile.jpg');
    background-size: 100% 100%;
  }

  .stats-img-container > img {
    width: 100%;
    height: 100%;
  }

  .companies > p {
    text-transform: uppercase;
  }
}

@media screen and (min-width: 1440px) {
  h1, h2, h3, h4, h5, h6, p {
    text-align: left;
  }

  .stats-preview-wrapper {
    width: 780px;
    display: flex;
  }

  .stats-body {
    padding: 1em 3em;
  }

  .stats-img-container,
  .stats-body {
    width: 50%;
    height: 100%;
  }

  .stats-img-container {
    height: 303px;
    order: 2;
  }
  
  .stats-img-container {
    background: url('./images/image-header-desktop.jpg');
    background-size: 100% 100%;
  }

  .stats-img-container > img {
    width: 100%;
    height: 100%;
  }

  .stats {
    display: flex;
    justify-content: space-between;
  }

  .companies > p {
    text-transform: uppercase;
  }
  
}